[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Ll]ogs/
[Bb]uild/
[Bb]uilds/
[Uu]serSettings/
.vs/
.idea/
*.csproj
*.sln
*.user
Server/functions/node_modules/
Server/functions/lib/
Server/functions/.env
Server/functions/.env.*
firebase-debug*.log
